/* navbar.module.css */

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%; /* изменение */
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.navbar__logo {
  height: 40px;
  /* Уберите комментарий и добавьте путь к вашему логотипу */
  /* background-image: url('./navbar-logo.svg'); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
}

.navbar__header {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  width: 100%;
}

.navbar__link {
  text-decoration: none;
  color: #333333;
  margin-left: 20px;
}

.navbar__link:hover {
  color: #007bff;
}

.navbar__login {
  margin-left: auto;
}

.navbar__registration {
  margin-left: 20px;
}
